@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

/* 基本設定 */
html {
	width: 100%;
}
body {
	font-family: "Noto Sans Japanese","游ゴシック",YuGothic,"メイリオ",Meiryo,Osaka,sans-serif;
}

h1 {
	color: #fff;
	font-weight: 900;
	-webkit-text-stroke: 1px #000;
}

h2 {
	color: #fff;
	background-color: gray;
	width: 100%;
}

h3 {
	color: #fff;
	font-weight: 800;
	-webkit-text-stroke: 1px #000;
	margin-bottom: 20px;
}
h3:before {
	position: relative;
	content: url('images/neko-pad.png');
	margin-right: 7px;
	margin-left: 5px;
	top: 6px;
}

#wrapper {
	position: relative;
	margin: 0 auto;
	/*background-color: #F7E7BE;*/
	background-image: url('images/background.jpg');
	background-size: cover;
	background-position: center center; 
	overflow: hidden;
}

/* スマホとPCで見た目を変える */
@media(min-width: 601px) {
	#wrapper {	
	 	position: relative;
		max-width: 400px;
		max-height: 600px;	
		border: 1px solid #333;
	}
	#iphone-wrapper {
		position: relative;
		margin: 30px auto;
		padding: 0;
		max-width: 400px;
		border-top: 100px solid #333;
		border-left: 20px solid #333;
		border-right: 20px solid #333;
		border-bottom: 100px solid #333;
		box-shadow: 0px 0px 0px 5px #eee, 0px 0px 10px 10px rgba(33,33,33,0.4);
		border-radius: 40px;
	}
	#iphone-wrapper:before {
		position: absolute;
		content: url('images/iphone-button.png');
		bottom: -17%;
		left: 35%;
		padding: 10px;
		color: #fff;
		border-radius: 100px;
		z-index: 100;
	}
	#iphone-wrapper:after {
		position: absolute;
		content: url('images/iphone-top.png');
		top: -14%;
		left: 33%;
		padding: 10px;
		color: #fff;
		border-radius: 100px;
		z-index: 100;
	}
}


/* ヘッダー */
#user-info-header {
	position: absolute;
	width: 100%;
	height: 70px;
	background: rgb(254,252,234); 
	box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3);
	z-index: 1005;
	padding: 0px 20px;
}
#user-info-header .btn {
	margin-top: 15px;
}
#username {
	margin: 10px;
}
#bonitos {
	margin: 10px;
}

.progress {
	font-size: 0.8em;
	margin: 2px;
	height: 45%;
}


/* メイン */
#main {
	position: relative;
	overflow: hidden;
	overflow-y: scroll;
	width: 100%;
	height: 100%;
	padding: 0px 5px;
	padding-top: 10px;
	padding-bottom: 250px;
}
#user-info-header + #main {
	padding-top: 90px;
}

.banner {
	width: 100%;
}

#google-map-field {
	margin: 0 auto;
	width: 300px;
	height: 200px;
}


/* リスト */
.scroll-list {
	position: relative;
	overflow-y: scroll;
	width: 100%;
	height: 200px;	
}

/* にゃばたーリスト */
.nyavatar-list {
	position: relative;
	overflow-y: scroll;
	width: 95%;
	height: 400px;	
	border: 5px solid #333;
	margin: 0 auto;
	padding-top: 10px;
	background-image: url('images/nyavatar-list-bg.jpg');
}

/* にゃばたーサムネイル */
.nyavatar-thumbnail {
	position: relative;
	border: 2px solid #777;
	background: #eee;
	border-radius: 8px;
	box-shadow: 0px 0px 1px 1px rgba(33,33,33,0.3) inset;
	padding: 10px;
	margin: 10px auto;
	width: 300px;
}
.nyavatar-heading {
	border-bottom: 2px solid #777;	
}
.nyavatar-heading img {
	display: inline-block;
	height: 30px;
}
.nyavatar-heading h4 {
	display: inline-block;
	font-size: 100%;
	margin: 0;
	padding: 0;
}
.nyavatar-body {}
.nyavatar-image {
	float: left;
	overflow: hidden;
	width: 80px;
	height: 80px;
	margin: 5px;
	margin-left: 0px;
	margin-top: 10px;
}
.nyavatar-status {
	padding-top: 5px;
}
.nyavatar-status li {
	display: inline-block;
	width: 80%;
	padding: 2px;
	border-bottom: 2px solid #777;
}
.nyavatar-footer {
	text-align:right;
}


/* にゃばたー詳細 */
.nyavatar-detail-area {
	border: 5px solid #333;
	background-image: url('images/nyavatar-list-bg.jpg');
	padding: 10px;
	width: 100%;
}
.nyavatar-detail {
	position: relative;
	border: 2px solid #777;
	background: #eee;
	border-radius: 8px;
	box-shadow: 0px 0px 1px 1px rgba(33,33,33,0.3) inset;
	padding: 10px;
	margin: 10px auto;
	width: 300px;
}
.nyavatar-detail-heading {
	border-bottom: 2px solid #777;	
}
.nyavatar-detail-heading img {
	display: inline-block;
	height: 30px;
}
.nyavatar-detail-heading h4 {
	display: inline-block;
	font-size: 100%;
	margin: 0;
	padding: 0;
}
.nyavatar-detail-body {}
.nyavatar-detail-image {
	float: left;
	overflow: hidden;
	margin: 5px;
	margin-left: 0px;
	margin-top: 10px;
	width: 275px;
	border: 5px solid #fff;
	box-shadow: 0px 0px 0px 1px rgba(133,133,133,1.0)
}
.nyavatar-detail-status {
	padding-top: 5px;
}
.nyavatar-detail-status li {
	display: inline-block;
	width: 80%;
	padding: 2px;
	border-bottom: 2px solid #777;
}
.nyavatar-detail-footer {
	text-align: center;
}
.new-icon {
	position: absolute;  
    left: -10px;
    top: -35px;
    padding-top: 52px;
    width: 59px;
    height: 0;
    background: url('images/icon-new.png') no-repeat;
    background-size: cover;
    overflow: hidden
}
.lostCat-icon {
	position: absolute;  
    right: -10px;
    top: 0px;
    padding-top: 60px;
    width: 59px;
    height: 0;
    background: url('images/icon-lostCat.png') no-repeat;
    background-size: cover;
    overflow: hidden
}
.lostCat-icon:hover {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
}
.lostCat-icon:active {
	-webkit-transform: scale(1.0);
	-moz-transform: scale(1.0);
	-ms-transform: scale(1.0);
	-o-transform: scale(1.0);
}
.unnyown {
	border: 1px solid #333;
	border-radius: 30px;
}


/* アイテム */
.item-list {
	position: relative;
	overflow-y: scroll;
	width: 330px;
	height: 400px;	
	border: 5px solid #333;
	margin: 0 auto;
	padding: 10px;
	background-image: url('images/nyavatar-list-bg.jpg');
}
.item-thumbnail {
	position: relative;
	float: left;
	-webkit-text-stroke: 1px #000;
	width: 65px;
	height: 65px;
	margin: 5px;
	padding: 0px;
	border: 3px solid #fff;
	border-radius: 15px;
	box-shadow: 0px 0px 0px 3px rgba(84,62,11,0.9), 0px 0px 3px 3px rgba(33,33,33,0.7); 
	background-color: #e2e2e2;
}
.item-thumbnail:hover {
	box-shadow: 0px 0px 0px 3px rgba(84,62,11,0.9), 0px 0px 3px 3px rgba(33,33,33,0.7); 
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
}
.item-thumbnail:active {
	box-shadow: 0px 0px 0px 3px rgba(84,62,11,0.9), 0px 0px 3px 3px rgba(33,33,33,0.7); 
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
}

/* ショップ　*/
.shop-list {
	position: relative;
	overflow-y: scroll;
	width: 330px;
	height: 400px;	
	border: 5px solid #333;
	margin: 0 auto;
	padding: 10px;
	background-image: url('images/nyavatar-list-bg.jpg');
}
.shop-thumbnail {
	position: relative;
	-webkit-text-stroke: 1px #000;
	width: 100%;
	height: 80px;
	margin: 0 auto;
	margin-top: 10px;
	padding: 0px;
	border: 3px solid #FFF;
	border-radius: 15px;
	box-shadow: 0px 0px 0px 3px rgba(84,62,11,0.9), 0px 0px 3px 3px rgba(33,33,33,0.7); 
	background-color: #e2e2e2;
}
.shop-image {
	position: relative;
	float: left;
	-webkit-text-stroke: 1px #000;
	width: 65px;
	height: 65px;
	margin: 5px;
	padding: 0px;
	border: 3px solid #333;
	border-radius: 15px;
	background-color: #e2e2e2;
}
.shop-info {
	position: relative;
	float: left;
	width: 143px;
	margin-top: 5px;
}
.shop-info ul {
	margin: 0;
	padding: 0;
	font-size: 0.8em;
	list-style: none;
}
.shop-button {
	position: relative;
	float: left;
	-webkit-text-stroke: 1px #000;
	width: 65px;
	height: 65px;
	margin: 5px;
	padding: 0px;
	border: 3px solid #333;
	border-radius: 15px;
	background-color: #90ee90;
}
.shop-button:hover {
	background-color: #8fbc8f;
}
.shop-button p {
	margin: 18px 15px;
}


/* フッター */
#menu-button-footer {
	margin: 0;
	padding: 0;
}
#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 80px;
	padding: 5px 0;
	margin: 0;
	text-align: center;
	border-top: 8px ridge rgba(200, 153, 32, 0.6); /*#c89932;*/
	border-bottom: 8px ridge rgba(200, 153, 32, 0.8);
	background-image: url('images/footer-bg.jpg');
	box-shadow: 0px -5px 8px rgba(0, 0, 0, 0.3);
	z-index: 1000;
}
#footer-info-message {
	position: absolute;
	bottom: 80px;
	background-color: black;
	width: 100%;
	padding: 0;
	padding-left: 2px;
	margin: 0;
	color: #fff;
	font-size: 0.8em;
	font-weight: bold;
	z-index: 9999;
}


/* ボタン設定 */
.btn-custom {
	position: relative;
	-webkit-text-stroke: 1px #000;
	width: 100%;
	height: 40px;
	margin: 5px 0px;
	padding: 0px;
	border: 3px solid #fff;
	border-radius: 15px;
	box-shadow: 0px 0px 0px 3px rgba(84,62,11,0.9), 0px 0px 3px 3px rgba(33,33,33,0.7); 
	background-color: #e2e2e2;
}
.btn-custom:hover {
	box-shadow: 0px 0px 0px 3px rgba(84,62,11,0.9), 0px 0px 3px 3px rgba(33,33,33,0.7); 
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
}
.btn-custom:active {
	box-shadow: 0px 0px 0px 3px rgba(84,62,11,0.9), 0px 0px 3px 3px rgba(33,33,33,0.7); 
	-webkit-transform: scale(1.0);
	-moz-transform: scale(1.0);
	-ms-transform: scale(1.0);
	-o-transform: scale(1.0);
}
.btn-custom:before {
	content: "　";
	position: absolute;
	z-index: 100;
	top: 50%;	
	left: 0;	
	width: 100%;
	height: 50%;
	background-color: #d1d1d1;
	border-radius: 0px 0px 11px 11px;	
}
.btn-custom:after {
	content: "　";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: 0px 0px 1px 2px rgba(33,33,33,0.3) inset;
	border-radius: 11px;	
	z-index: 102;
}
.btn-custom p {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;
	font-weight: 900;
	font-size: 1.5em;
	margin: auto;
	height: 35px;
	z-index: 103;
}
.btn-custom img {
	position: relative;
	z-index: 101;
	height: 100%;
	width: 100%;
	margin: 0 auto;
}

.btn-primary > a {
	display: block;
	text-align: center;
    line-height: 50px;
	color: #fff;
}

/* 形に関する設定 */
.btn-custom[data-type="square"] { border-radius: 0px; }
.btn-custom[data-type="square"]:before { border-radius: 0px; }
.btn-custom[data-type="square"]:after { border-radius: 0px; }
.btn-custom[data-type="img-btn"] {
	width: 100px;
	height: 100px;
}
.btn-custom[data-type="img-btn-200x200"] {
	width: 200px;
	height: 200px;
}
.btn-custom[data-type="img-btn"]:before {
	border-radius: 11px;
	top: 40%;
	height: 60%;
}
.btn-custom[data-type="footer"] {
	width: 14.5%;
	height: 100%;
	padding: 0;
	margin: 0 3px;
	border-radius: 10px 10px 0px 0px;
}
.btn-custom[data-type="footer"]:before { border-radius: 8px 8px 0px 0px; }
.btn-custom[data-type="footer"]:after { border-radius: 8px 8px 0px 0px; }

/* 色に関する設定 */
.btn-custom[data-color="blue"] { background-color: #9fd8ef; }
.btn-custom[data-color="blue"]:before { background-color: #66c2ff; }
.btn-custom[data-color="pink"] { background-color: #fba6e1; }
.btn-custom[data-color="pink"]:before { background-color: #ff85c2; }
.btn-custom[data-color="yellow"] { background-color: #fbdf93; }
.btn-custom[data-color="yellow"]:before { background-color: #f7c23d; }

/* 長さに関する設定 */
.btn-custom[data-width="10"] { width: 10%; }
.btn-custom[data-width="20"] { width: 20%; }
.btn-custom[data-width="30"] { width: 30%; }
.btn-custom[data-width="40"] { width: 40%; }
.btn-custom[data-width="50"] { width: 50%; }
.btn-custom[data-width="60"] { width: 60%; }
.btn-custom[data-width="70"] { width: 70%; }
.btn-custom[data-width="80"] { width: 80%; }
.btn-custom[data-width="90"] { width: 90%; }
.btn-custom[data-width="100"] { width: 100%; }

.btn-custom[data-height="10"] { height: 10%; }
.btn-custom[data-height="20"] { height: 20%; }
.btn-custom[data-height="30"] { height: 30%; }
.btn-custom[data-height="40"] { height: 40%; }
.btn-custom[data-height="50"] { height: 50%; }
.btn-custom[data-height="60"] { height: 60%; }
.btn-custom[data-height="70"] { height: 70%; }
.btn-custom[data-height="80"] { height: 80%; }
.btn-custom[data-height="90"] { height: 90%; }
.btn-custom[data-height="100"] { height: 100%; }

/* 文字の大きさに関する設定 */
.btn-custom[font-size="0.6"] p {
	font-weight: 900;
	font-size: 0.6em;
	height: 13px;
}
.btn-custom[font-size="1.0"] p {
	font-weight: 900;
	font-size: 1.0em;
	height: 21px;
}
.btn-custom[font-size="1.1"] p {
	font-weight: 900;
	font-size: 1.1em;
	height: 24px;
}
.btn-custom[font-size="1.2"] p {
	font-weight: 900;
	font-size: 1.2em;
	height: 27px;
}
.btn-custom[font-size="1.3"] p {
	font-weight: 900;
	font-size: 1.3em;
	height: 30px;
}
.btn-custom[font-size="1.4"] p {
	font-weight: 900;
	font-size: 1.4em;
	height: 33px;
}


/* フォーム部品 */
.form-custom {
	position: relative;
	margin: 15px auto;
	padding: 10px;
	width: 90%;
	border: 3px solid #333;
	background-color: white;
}
.form-custom input, .form-custom select {
	position: relative;
	border: 3px solid #fff;
	border-radius: 15px;
	box-shadow: 0px 0px 0px 3px rgba(84,62,11,0.9), 0px 0px 3px 3px rgba(33,33,33,0.7); 
}

.text-area {
	margin: 0 auto;
	margin-top: 30px;
	padding: 10px;
	width: 90%;
	border: 3px solid #333;
	background-color: white;
}

#error-message {
	margin: 15px auto;
}

/* その他 */
.text-small {
	font-size: 1.0em !important;
}
.text-middle {
	font-size: 1.5em !important;
}
.text-large {
	font-size: 2.0em !important;
}
.white-bg {
	background-color: white;
}
.neko-pad-bg {
	background-image: url('images/nyavatar-list-bg.jpg');
}
